- var n = 1

doctype html
html
  head
    title Not Seek
    style
      include style.css
  body 
    h1 Latest Vacancies
    h3 Page Number #{page} of #{pageCount}
    div(class='test-jobs')
      ul
        each job in jobs
         li
            a(href=`/other.html?id=${job.uuid}`) #{job.title}
    if page > 1
      a(href=`/?page=${page - 1}`) Previous
    ul
      while n < pageCount
        li(class='pagination')
          a(href=`/?page=${n}`) #{n++}
    if page < pageCount
      a(href=`/?page=${page + 1}`) Next
    